@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-ThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
}
