@use 'variables.scss' as v;

header {
  @include v.flex(row, space-between, center);
  background-color: aliceblue;
  h2 {
    flex-grow: 1;
    text-align: center;
    color: v.$secondary;
    font-weight: 700;
    margin-left: 40px;
  }

  .mdi {
    margin-left: auto;
    color: v.$secondary;
    // border: 1px solid red;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  border-bottom: 1px solid rgba(174, 106, 125, 0.5);
  background-color: #fddfea33;
  height: 50px;
}
