@use 'variables.scss' as v;

// @font-face {
//     font-family: 'Kanit', sans-serif;
//     src: url(../assets/fonts/Kanit-Regular.ttf);
// }

* {
    // border: 1px solid rgba(255, 0, 0, 0.349);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-smooth: always;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease, color 0.3s ease;
  }