$primary: #fcd5e0;
$secondary: #ae6a7d;
$tertiary: #362227;
$additional: #e088a1;
$highlight: #ffb4c9;
$container: #ffebf6;

$bezier: cubic-bezier(0.57, 0.21, 0.69, 1.25);
$bezier-alt: cubic-bezier(0.22, 0.68, 0, 1.71);

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@mixin no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
