$primary: #FCD5E0;
$secondary: #AE6A7D;
$tertiary: #362227;
$additional: #E088A1;
$highlight: #FFB4C9;
$container: #FFEBF6;

$bezier: cubic-bezier(0.57, 0.21, 0.69, 1.25);

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
