@use 'variables.scss' as v;

// @media screen and (max-width: 649px) {
//     .landing {
//         .about .block {
//             max-width: 100%;
//             width: 100%;
//         }
//     }
// }
@media screen and (max-width: 558px) {
  .posts .wrapper .posts-list .post .post-wrapper .post-body .embed .quote {
    .post-header {
      .head-wrap {
        .name {
          @include v.truncate(120px);
        }
      }
    }
  }
}
@media screen and (max-width: 470px) {
  .posts .wrapper .posts-list .post {
    .interactions {
      a,
      button {
        margin-left: 0px;
      }
    }
    .post-wrapper .post-body .embed .quote {
      .post-header {
        // flex-direction: column;
        // align-items: flex-start;
        // gap: 0px;
        // width: 100%;
        .head-wrap {
          .name {
            @include v.truncate(100px);
          }
        }
        // .head-second {
        //   margin-bottom: 10px;
        //   justify-content: space-between;
        //   width: 100%;
        // }
      }
    }
  }
}
// @media screen and (max-width: 440px) {
//   .posts .wrapper .posts-list .post .post-wrapper .post-body .embed .quote {
//     .post-header {
//       .handle {
//         @include v.truncate(100px);
//       }
//     }
//   }
// }
// @media screen and (max-width: 400px) {
//   .posts .wrapper .posts-list .post .post-wrapper .post-body .embed .quote {
//     .post-header {
//       .name {
//         @include v.truncate(60px);
//       }
//       .handle {
//         @include v.truncate(100px);
//       }
//     }
//   }
// }
@media screen and (max-width: 650px) {
  .landing .about .block {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 510px) {
  .spotify {
    max-width: calc(100vw - 50px);
    height: auto;
    .player {
      .player-header {
        flex-direction: column;
        align-items: flex-start;
        span {
          line-height: 1.2;
        }
        span:last-child {
          margin-left: 10px;
        }
      }
      max-width: calc(100vw - 50px);
      // flex-direction: column-reverse;
      height: auto;
      padding-right: 10px;
      align-items: flex-start;
      gap: 0;
      .track-info {
        flex-shrink: 2;
        // overflow-y: hidden;
        .song-title {
          @include v.truncate(250px);
        }
        .song-artist {
          @include v.truncate(250px);
        }
        // .controls {
        //   flex-wrap: wrap;
        //   justify-content: flex-start;
        //   .volume {
        //     order: 4;
        //   }
        // }
      }
      img {
        // width: 100%;
        height: 100px;
        flex-shrink: 1;
        width: auto;
        height: auto;
        min-width: 70px;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 445px) {
  .posts .wrapper .posts-list .post {
    .post-wrapper .post-body .embed .quote {
      .post-header {
        // flex-direction: column;
        // align-items: flex-start;
        // gap: 0px;
        // width: 100%;
        .head-wrap {
          .name {
            @include v.truncate(100px);
          }
        }
        .head-second .handle {
          @include v.truncate(100px);
        }
        // .head-second {
        //   margin-bottom: 10px;
        //   justify-content: space-between;
        //   width: 100%;
        // }
      }
    }
  }
}

@media screen and (max-width: 422px) {
  .spotify .player {
    position: relative;
    img {
      width: 70px;
      position: absolute;
      right: 10px;
      top: 10px;
      // right: 30px;
    }
    .track-info {
      .song-title {
        @include v.truncate(200px);
      }
      .song-artist {
        @include v.truncate(200px);
      }
      .controls {
        width: calc(100vw - 70px);
        justify-content: space-between;
        .volume {
          margin-right: 95px;
        }
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .posts .wrapper .posts-list .post-wrapper .post-body .embed .quote {
    .post-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 0px;
      width: 100%;
      .head-wrap {
        .name {
          @include v.truncate(200px);
        }
      }
      .head-second {
        .handle {
          @include v.truncate(200px);
        }
        margin-bottom: 10px;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .posts .wrapper .posts-list .post .post-wrapper .post-body {
    width: 100%;
    .embed {
      width: 100%;
      .quote {
        width: 100%;
        // max-width: calc(100% - 10px);
        .text {
          // @include v.truncate(200px);
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          max-height: 80px;
          overflow: hidden;
        }
      }
    }
  }
}
